{% extends 'blog/base.html' %}

{% block content %}
{% include 'blog/navbar.html' %}
    {% for post in posts %}
        <div class="container mt-3">
            <div class="media border p-3">
                <div class="media-body">
                    <h4> {{post.title}} <small><i>Posted on {{post.date_publish}} by {{post.author}} </i></small></h4>
                    <p> {{ post.body|safe|truncatewords:"50"|linebreaks }} </p>
                    <a href=" {{post.get_absolute_url}}">Read more</a>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock content %}


